@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p></p>
    <p></p>
    <div>
        @using (Html.BeginForm("LogOut", "Auth", Context.Request.RouteValues,  FormMethod.Get))
        {
            <input type="submit" value="Log Out" />
        }

    </div>

    <div>
        @using (Html.BeginForm("ListAll", "User", FormMethod.Get))
        {
            <input type="submit" value="List All" />
        }

    </div>

    <div>
        @using (Html.BeginForm("CreateIndex", "User", FormMethod.Post))
        {
            <input type="submit" value="Create a User" />
        }

    </div>
</div>
