@{
    ViewData["Title"] = "Home Page";
}
<head style="color: #07181F;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('div.hidden').fadeIn(1500).removeClass('hidden');
        });
    </script>
    <meta name="viewport" content="width=device-width" />
    <style>
        div.hidden {
            display: none
        }

        body {
            background-image: url('https://cdn3.f-cdn.com/contestentries/1476645/14106457/5c7905a19aaa6_thumb900.jpg');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>

<div class="text-center hidden text-white">
    <h1 class="display-4">Welcome</h1>
    <p>This my Auto Service Shop WEB Application. Feel free to explore and test things out</p>
    <p></p>
    <p></p>
    <div>
        THIS IS FILLER TEXT.......
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum mattis orci tempus laoreet. Aliquam non molestie sapien. Duis eu mi commodo erat fringilla laoreet. Integer vitae turpis ullamcorper, lacinia ligula at, luctus lorem. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam accumsan, velit eu sodales ullamcorper, dui erat aliquet ante, eget luctus nisi magna tempor metus. Integer a lorem justo. Pellentesque porttitor eget nibh dapibus blandit. Donec semper lorem ac enim posuere, vel imperdiet tellus viverra. Proin eu aliquet mauris. Proin a imperdiet diam. Quisque vitae magna imperdiet, vestibulum tellus non, venenatis quam. Duis pretium ligula sem, eu finibus risus feugiat sed.

        Duis euismod, ante vitae congue accumsan, tellus metus vehicula leo, varius placerat eros dolor quis risus. Nullam et pretium dolor. In nec tempor lectus. Quisque tempus mi at nunc rutrum hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean auctor purus in imperdiet tincidunt. Sed vitae mi quis dolor semper pretium. Morbi tristique neque non sapien semper, ac lacinia arcu facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in dui eu tortor tempus eleifend at id turpis. Maecenas dignissim erat id porta facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Pellentesque pretium nunc et arcu vulputate, quis ornare tellus condimentum. Sed tristique arcu sem, sit amet vulputate mauris lobortis sed.

        Sed in volutpat leo. Vestibulum non faucibus velit, non hendrerit nisl. Sed non magna iaculis, volutpat tellus vitae, lacinia turpis. Sed malesuada nec nunc id ornare. Aenean quis purus bibendum, volutpat lacus sit amet, dictum dui. Donec semper sapien in elementum varius. In dictum augue nunc. Sed hendrerit, neque in iaculis mattis, magna ante auctor lacus, vitae rutrum lorem odio eu orci.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque non est laoreet, fringilla tellus vel, feugiat quam. Vivamus in sapien erat. Quisque odio lorem, aliquam vitae viverra at, finibus vitae felis. Aenean a orci vitae dolor aliquet fringilla dictum quis lectus. Proin tristique libero quis ultricies tincidunt. Curabitur ac justo venenatis, lacinia arcu ut, lobortis diam. Phasellus varius erat libero, condimentum varius risus fringilla ut. Quisque lobortis convallis velit ac auctor. Praesent sed risus lectus. Quisque volutpat dolor vitae metus ornare, quis varius augue viverra. In hac habitasse platea dictumst. Integer ultricies velit sed eros ultricies pharetra. Vestibulum eget gravida dolor, sit amet vulputate arcu. Duis vitae tellus metus. Phasellus ultrices justo sed viverra dignissim.

        Nam a turpis scelerisque, pretium ex eget, maximus lorem. Nam gravida ipsum at varius dictum. Donec laoreet lobortis libero. Aliquam finibus id felis at tempor. Nullam tempor iaculis tortor, in suscipit massa condimentum eu. Cras dictum neque nisi, in pretium felis sodales ultricies. In tristique quis mauris at efficitur. Aenean eros urna, luctus eget pretium eu, facilisis ac augue. Nulla iaculis dui ac dictum varius. Integer nisl sem, venenatis malesuada malesuada sed, hendrerit et nisi. Nulla hendrerit, nibh id sollicitudin ullamcorper, diam mi eleifend tortor, at aliquet nunc velit vel odio.
    </div>
</div>
